<!-- Start Work -->
<div class="work mb-5">
  <div class="container">
    <div class="text-center">
      <h1 class="mt-5 mb-5">Our Work</h1>
      <p class="mb-5">You are going to love those.</p>
    </div>
    <div class="row g-4">
      <div class="col-sm-12 col-md-6 col-lg-4">
        <div class="card h-100 scale-card">
          <img
            src="assets/images/work1.jfif"
            class="card-img-top"
            alt="..."
            style="height: 200px; object-fit: cover"
          />
          <div class="card-body d-flex flex-column">
            <h5 class="card-tit">Building Renovation</h5>
            <p class="card-text">Buildings, Houses</p>
            <div class="mt-auto">
              <a href="#" class="btn btn-primary">Learn More</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-4">
        <div class="card h-100 scale-card">
          <img
            src="assets/images/work2.jfif"
            class="card-img-top"
            alt="..."
            style="height: 200px; object-fit: cover"
          />
          <div class="card-body d-flex flex-column">
            <h5 class="card-tit">Building Renovation</h5>
            <p class="card-text">Buildings, Houses</p>
            <div class="mt-auto">
              <a href="#" class="btn btn-primary">Learn More</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-4">
        <div class="card h-100 scale-card">
          <img
            src="assets/images/work3.jfif"
            class="card-img-top"
            alt="..."
            style="height: 200px; object-fit: cover"
          />
          <div class="card-body d-flex flex-column">
            <h5 class="card-tit">Building Renovation</h5>
            <p class="card-text">Buildings, Houses</p>
            <div class="mt-auto">
              <a href="#" class="btn btn-primary">Learn More</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-4">
        <div class="card h-100 scale-card">
          <img
            src="assets/images/work4.jfif"
            class="card-img-top"
            alt="..."
            style="height: 200px; object-fit: cover"
          />
          <div class="card-body d-flex flex-column">
            <h5 class="card-tit">Building Renovation</h5>
            <p class="card-text">Buildings, Houses</p>
            <div class="mt-auto">
              <a href="#" class="btn btn-primary">Learn More</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-4">
        <div class="card h-100 scale-card">
          <img
            src="assets/images/work5.jfif"
            class="card-img-top"
            alt="..."
            style="height: 200px; object-fit: cover"
          />
          <div class="card-body d-flex flex-column">
            <h5 class="card-tit">Building Renovation</h5>
            <p class="card-text">Buildings, Houses</p>
            <div class="mt-auto">
              <a href="#" class="btn btn-primary">Learn More</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-4">
        <div class="card h-100 scale-card">
          <img
            src="assets/images/work6.jfif"
            class="card-img-top"
            alt="..."
            style="height: 200px; object-fit: cover"
          />
          <div class="card-body d-flex flex-column">
            <h5 class="card-tit">Building Renovation</h5>
            <p class="card-text">Buildings, Houses</p>
            <div class="mt-auto">
              <a href="#" class="btn btn-primary">Learn More</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Work -->
