
<!-- Start footer -->
<div class="bfooter h-50">
  <div class="container">
    <div class="row content">
      <div class="txt col-sm-12 col-md-6 col-lg-9">
        <h1>Feeling convinced?</h1>
        <p>I am a subtitle, feel free to change me!</p>
      </div>
      <div class="btn col-sm-12 col-md-6 col-lg-3">
        <button type="button">BUTTON TEXT</button>
      </div>
    </div>
  </div>
</div>

<!-- =========================== -->
<!-- last section -->
<div class="footer">
  <div class="container">
    <div class="foo row">
      <div class="col-sm-12 col-md-6 col-lg-3 mb-5">
        <h5>About Us</h5>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Earum porro
          aliquid beatae consequuntur hic optio quod quidem repellat dolore.
          <br /><br /><br />
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Mollitia ad
          eveniet fugiat.
        </p>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-3 mb-5">
        <h5>Why we are Special?</h5>
        <p>> Our magical recipe</p>
        <hr />
        <p>> We care about Environment</p>
        <hr />
        <p>> We are trusted by hundered of clients</p>
        <hr />
        <p>> Social media loves us</p>
        <hr />
        <p>> This list is super easy to create</p>
        <hr />
      </div>
      <div class="col-sm-12 col-md-6 col-lg-3 mb-5">
        <h5>Opening Hours</h5>
        <p>> Monday 10AM-9PM</p>
        <hr />
        <p>> Tuesday 10AM-9PM</p>
        <hr />
        <p>> Wednesday 10AM-9PM</p>
        <hr />
        <p>> Thursday 10AM-9PM</p>
        <hr />
        <p>> Friday 10AM-9PM</p>
        <hr />
        <p>> Saterday 10AM-9PM</p>
        <hr />
      </div>
      <div class="col col-sm-12 col-md-6 col-lg-3 mb-5">
        <h5>Contact details</h5>
        <span>
          <!-- icon -->
          <i class="fa-solid fa-location-dot"></i>
          <!-- text -->
          <p>Manchester St 123-78B,Rondom 713,UK</p>
        </span>
        <hr />
        <span>
          <!-- icon -->
          <i class="fa-solid fa-phone-volume"></i>
          <!-- text -->
          <p>+12 345 678 698</p>
        </span>
        <hr />
        <span>
          <!-- icon -->
          <i class="fa-solid fa-headphones-simple"></i>
          <!-- text -->
          <p>+12 345 678 698</p>
        </span>
        <hr />
        <span>
          <!-- icon -->
          <i class="fa-solid fa-earth-americas"></i>
          <!-- text -->
          <p>hello@sitennam.com</p>
        </span>
        <hr />
      </div>
    </div>
  </div>
</div>

<div class="last-logo">
  <div class="container">
    <div class="row last">
      <p class="p2 col-sm-12 col-md-6 col-lg-9">
        &copy; Copyright 2017. all right reserved
      </p>
      <span class="col-sm-12 col-md-6 col-lg-3">
        <i class="fa-brands fa-facebook"></i>
        <i class="fa-brands fa-google-plus-g"></i>
        <i class="fa-brands fa-linkedin"></i>
        <i class="fa-brands fa-twitter"></i>
      </span>
    </div>
  </div>
</div>
